# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.env
go.work

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
venv/
*.egg-info/

# Logs
*.log

# Database
*.db
*.sqlite
